<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Dashboard</title>
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="height: 11vmin; width:23vmin">
          <img src="static/healthImg.png" alt="logo" style="max-width: 100%; max-height: 100%;object-fit: contain;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" value="Logout" style="padding: 1vmin; border-radius: 2vmin;">Logout</button>
        </form>
        </div>
      </nav>
<div class="content">
    <p class="header" style="text-align: center; margin-top: 5vmin; font-size: 10vmin;">Welcome <b>{{ request.user.username }}</b></p>
<div class="container" style="display: flex; justify-content: space-evenly; flex-wrap: wrap;column-gap: 3vmin;margin-top: 5vmin; width:100vw; row-gap: 3vmin;">
        <div class="farmBox1" style="height: 55vmin; width: 50vmin;box-shadow: 1px 3px 5px 3px;">
            <div class="header">
                <p style="text-align: center; font-weight: bold; font-size: 3.5vmin; margin-top: 3vmin;">{{Namedetails.0}}</p>
            </div>

            <div style="width:100%; display: flex; justify-content: center; ">
            <div class="imgContainer" style="width:30vmin; height:25vmin; display: flex; justify-content: center; box-shadow: 1px 3px 5px 3px;">
                <img src="static/patient.avif" style="max-width: 100%; max-height: 100%;">
            </div>
            </div>
            <!-- Button trigger modal -->
<div class="btnHolder" style="display:flex; justify-content:space-evenly;">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="margin-top:3vmin;">
    Medical History
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2" style="margin-top:3vmin;">
    <a href="medicine" style="color:white">Prescribe Medicine</a>
  
  </button>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Patient Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="box" style="height:5vmin; width:100%; ">
                <p style="padding:1vmin"><b>Name:</b>&nbsp;&nbsp;{{Namedetails.0}}</p>
            </div>
            <div class="box" style="height:5vmin; width:100%; ">
                <p style="padding:1vmin"><b>Age:</b>&nbsp;&nbsp;{{AgeDetails.0}}</p>
            </div>
            <div class="box" style="height:5vmin; width:100%; ">
              <p style="padding:1vmin"><b>Email:</b>&nbsp;&nbsp;{{emailDetails.0}}</p>
          </div>
            <div class="box" style="height:5vmin; width:100%; ">
                <p style="padding:1vmin"><b>Sex:</b>&nbsp;&nbsp;{{SexDetails.0}}</p>
            </div>
            <div class="box" style="height:5vmin; width:100%; ">
                <p style="padding:1vmin"><b>Patient Id:</b>&nbsp;&nbsp;{{patIdDetails.0}}</p>
            </div>
            <div class="box" style="height:5vmin; width:100%; ">
                <p style="padding:1vmin"><b>Medical History:</b>&nbsp;&nbsp;{{medDetails.0}}</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
            <div class="btnHolder" style="display: flex; justify-content: center; margin-top: 5vmin;">
                <button class="dashBtn"  ><a href="https://blynk.cloud/dashboard/157863/global/devices/1665282" class="link1">Monitor Data</a></button>
                <button class="dashBtn" style="margin-left:1vmin"><a href="emergency" style="color:white">Emergency System</a></button>
               </div>
        </div>
        <div class="farmBox2"  style="height: 55vmin; width: 50vmin; box-shadow: 1px 3px 5px 3px;">
            <div class="header">
                <p style="text-align: center; font-weight: bold; font-size: 3.5vmin; margin-top: 3vmin;">{{Namedetails.1}}</p>
            </div>
            <div style="width:100%; display: flex; justify-content: center; ">
                <div class="imgContainer" style="width:30vmin; height:25vmin; display: flex; justify-content:center; box-shadow: 1px 3px 5px 3px;">
                    <img src="static/patient.avif" style="max-width: 100%; max-height: 100%;">
                </div>
                </div>

                <div class="btnHolder" style="display:flex; justify-content:space-evenly;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1" style="margin-top:3vmin;">
                    Medical History
                  </button>
                  <button type="button" class="btn btn-primary" data-toggle="modal1" data-target="#exampleModalCenter2" style="margin-top:3vmin;">
                      Prescribe Medicine
                  </button>
                </div>
                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Patient Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="box" style="height:5vmin; width:100%; ">
                                <p style="padding:1vmin"><b>Name:</b>&nbsp;&nbsp;{{Namedetails.1}}</p>
                            </div>
                            <div class="box" style="height:5vmin; width:100%; ">
                                <p style="padding:1vmin"><b>Age:</b>&nbsp;&nbsp;{{AgeDetails.1}}</p>
                            </div>
                            <div class="box" style="height:5vmin; width:100%; ">
                                <p style="padding:1vmin"><b>Sex:</b>&nbsp;&nbsp;{{SexDetails.1}}</p>
                            </div>
                            <div class="box" style="height:5vmin; width:100%; ">
                                <p style="padding:1vmin"><b>PatientId:</b>&nbsp;&nbsp;{{patIdDetails.1}}</p>
                            </div>
                            <div class="box" style="height:5vmin; width:100%; ">
                                <p style="padding:1vmin"><b>Medical History:</b>&nbsp;&nbsp;{{medDetails.1}}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="btnHolder" style="display: flex; justify-content: center; margin-top: 5vmin;">
                    <button class="dashBtn" >Monitor Data</button>
                    <button class="dashBtn" style="margin-left:1vmin">Emergency System</button>
                  </div>
        </div>
</div>
<div class="container" style="display: flex; flex-wrap: wrap;justify-content: center;width:100vw; margin-top: 3vmin; ">
     <div class="farmBox3" style="height: 55vmin; width: 50vmin; box-shadow: 1px 3px 5px 3px;">
        <div class="header">
            <p style="text-align: center; font-weight: bold; font-size: 3.5vmin; margin-top: 3vmin;">Patient 3</p>
        </div>

        <div style="width:100%; display: flex; justify-content: center; ">
        <div class="imgContainer" style="width:30vmin; height:25vmin; display: flex; justify-content: center; box-shadow: 1px 3px 5px 3px;">
            <img src="static/patient.avif" style="max-width: 100%; max-height: 100%;">
        </div>
        </div>
      
        <div class="btnHolder" style="display: flex; justify-content: center; margin-top: 5vmin;">
            <button class="dashBtn">Monitor Data</button>
            <button class="dashBtn" style="margin-left:1vmin">Emergency System</button>
        </div>
    </div>
    </div>
</div>
 
</div>






</body>
</html>

<style>

    .dashBtn{
        background-color:rgb(7, 98, 208); color: white; padding: 1vmin;
    }
    .dashBtn:hover{
        background-color: white;
        color: black;
    }
    .link1{
        color:white;
    }

</style>